.balance-row {
  display: flex;
  border: 1px solid var(--bc);
  border-radius: 0.25rem;
  background: var(--app-bg);
  margin-top: -1px;
}
.table-cell {
  flex-grow: 1;
  padding: 0.5rem 0.5rem 0.5rem 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 20%;
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: relative;
  white-space: nowrap;
}
.rewards {
  color: var(--success);
}
.fiat {
  color: var(--dim);
  padding-left: 1rem;
}
.total {
  color: var(--bright);
}
.total-and-fiat {
  display: flex;
  flex-direction: row;
}
.currency-flag {
  width: 2.5rem;
  height: 2.5rem;
  max-width: 100%;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 50%;
}
.table-cell.big {
  width: 40%;
  padding-left: 1rem;
}
.table-cell.big.title {
  padding-left: 0;
}
.icon-button-container {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 3rem;
}
.icon-button-container span {
  display: block;
  font-size: 12px;
  text-align: center;
  color: var(--dim);
  padding-top: 2px;
}
.icon-button {
  border-radius: 50%;
  background: var(--link);
  border: none;
  outline: none;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease;
}
.icon-button:hover {
  background: var(--link-hover);
  cursor: pointer;
}
.icon-button i {
  font-size: 14px;
  color: var(--menu-bright);
  font-weight: 900;
}
@media screen and (max-width: 667px) {
  .available {
    display: none;
  }
  .table {
    padding: 1rem;
  }
  .table-cell {
    width: 40%;
  }
  .table-cell.big {
    width: 60%;
  }
  .rewards {
    font-size: 12px;
  }
  .endtime {
    font-size: 12px;
  }
}
@media screen and (min-width: 1254px) {
  .send-button {
    display: none;
  }
}
@media screen and (max-width: 1254px) {
  .actions {
    display: none;
  }
  .total-and-fiat {
    display: flex;
    flex-direction: column;
  }
  .fiat {
    padding: 0;
    font-size: 12px;
  }
}